
.banner-bgone{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    

}
.banner-bgtwo{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    
}
.carousel-item{
    padding: 20px 40px;
    margin-bottom: 50px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}
.card{
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 20px 10px aliceblue;
}
.card-footer{
    border: none;
    background-color: none;
    text-align: center;
}